.show-banner {
  display: flex;
  align-items: flex-end;
  /* background-color: blue; */
}

.album-cover-img {
  width: 14.375rem;
  height: 14.375rem;
}

.banner-details {
  padding-left: 1.5rem;
}

.show-play-bar {
  display: flex;
  padding-top: 2.25rem;
  padding-bottom: 1.75rem;
  gap: 1.5rem;
  align-items: center;
}

.show-play-button-container {
  position: relative;
  width: 60px;
  height: 60px;
}

.svg-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.play-svg {
  z-index: 1;
  top: 18px;
  left: 18px;
}

.like-button {
  width: 60px;
  height: 60px;
}

.show-songs-header {
  display: flex;
  height: 2.25rem;
  width: 100%;
  gap: 1.25rem;
  padding-left: 1.75rem;
  padding-bottom: 3rem;
}


.header-text {
  font-family: 'CircularSpotifyBook';
  font-size: 0.875rem;
  opacity: 80%;
}


.show-songs-table {
  font-size: 0.875rem;
  opacity: 80%;
  font-family: 'CircularSpotifyBook';
}

.show-songs-row {
  display: flex;
  align-items: center;
  padding-left: 1.75rem;
  justify-content: space-between;
}

.track-num,
.song-title-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-num {
  margin-right: 25px;
}

.song-title-artist {
  width: 100%;
}

.song-title-artist-name {
  opacity: 70%;
}

.like-button-duration {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-right: 2.5rem;
}

.details-artist {
  font-family: 'CircularSpotifyBook';
  font-size: 0.825rem;
  color: #FFFFFF;
  opacity: 80%;
}

