.play-bar-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 5.375rem;
  background-color: #000000;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song-details-container {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 20%;
  margin-left: 1rem;
}

.song-details-cover {
  width: 55px;
  height: 55px;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.song-details h3 {
  font-family: 'CircularSpotifyBook';
  font-size: 1rem;
}

.song-details p {
  font-size: 0.75rem;
  color: #A7a7a7
}

.controls-duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 5.375rem;
}

.controls-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.75rem;
  margin-bottom: 0.25rem;
}

.duration-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 33rem;
  padding: 0;
  margin: 0;
}

.duration-container p {
  font-size: 0.70rem;
  color: #A7a7a7;
}

.duration-line {
  width: 33rem;
  height: 4px;
  border-radius: 1rem;
  background-color: #4d4d4d;
}

.play-button {
  width: 115px;
  height: 36px;
  margin-left: 50px;
  margin-top: 32px;
  /* margin-bottom: 35px; */
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg fill='%23fff' height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h48v48H0z' fill='none'/%3E%3Cpath d='M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-4 29V15l12 9-12 9z'/%3E%3C/svg%3E");  background-repeat: no-repeat;
  background-size: contain;
  transition: width 0.3s ease, height 0.3s ease;
}

.play-button:hover {
  width: 135px;
  height: 42px;
}

.queue-volume-container {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.volume-container {
  display: flex;
}

.play-pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  position: relative;
}

.play-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button-content {
  z-index: 2;
}

.play-button-circle-content {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.play-pause-button .play-bar-play {
  fill: black;
}

.play-pause-button .svg-image .circle-svg {
  fill: white;
}

.queue-volume-container {
  display: flex;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.volume-line {
  width: 5rem;
  height: 4px;
  border-radius: 1rem;
  background-color: #4d4d4d;
}

button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}
