.sidebar-mini-home button {
display: flex;
  align-items: center;
  gap: 1rem
}

.sidebar-mini-home p {
  color: #cccccc;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar-mini-home p:hover {
  color: #ffffff;
}

.sidebar-mini-home button {
  cursor: pointer;
  border-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.active-link p {
  text-decoration: none;
  color: white;
}

.library-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.library {
  display: flex;
  width: 60%;
  gap: 1rem;
}

.library-plus {
  width: 30%;
  padding-top: 0.25rem;
  justify-self: flex-end;
}

.library-content {
  margin: 1rem 0rem;
}

/* Playlist Items */
.playlist-item-container {
  transition: background-color 0.1s ease;
  border-radius: 0.5rem;
  height: 4rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding-left: 0.75rem;
  padding-top: 0.35rem;
}

.playlist-item-container:hover {
  background-color: #2A2A2A;
}


.playlist-item-container a {
  color: white;
  cursor: pointer;
}

.playlist-user-details {
  display: flex;
  flex-direction: column;
}

.playlist-image-details {
}

.playlist-details {
  font-size: 0.75rem;
  opacity: 0.50;
  display: flex;
  align-items: center;
}

.dot {
  font-size: 0.5rem;
  margin: 0rem 0.25rem;
}

.playlist-cover {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.25rem;
}