/* ! Main Container --------------- */
.user-home-container {
  background-color: #000000;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 5.375rem);
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding-right: 0.5rem;
  position: relative;
  padding-top: 0.5rem;
}

/* ! ------------------------------ */

/* ^ Functional ------------------- */

.row-align {
  display: flex;
  gap: 1rem;
  align-items: center;
}



/* ^ Functional ------------------- */

/* * SIDEBAR ---------------------- */
.user-home-sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0rem;
  height: 100%;
  overflow-y: auto;
  margin-left: 0.5rem;
  width: 25%;
}

.sidebar-mini-home {
  background-color: #121212;
  color: #B3B3B3;
  height: 8rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.sidebar-library {
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  height: 100vh;
  overflow-y: auto;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
}

.mini-home-icon {
  display: flex;
  gap: 1rem;
  margin-left: 1.25rem;
}


/* * SIDEBAR ---------------------- */

/* ~ Userbar ---------------------- */
.user-home-mainbody {
  box-sizing: border-box;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  height: 100%;
}

.user-home-userbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1.25rem;

  padding-right: 1.25rem;
  width: 100%;
  height: 5rem;
  background-color: #121212;
  border-radius: 0.5rem 0.5rem 0 0;
}

.userbar-arrow-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.userbar-profile-pic {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.userbar-profile-menu {
  position: absolute;
  top: 3.5rem;
  right: 1.75rem;
  background-color: #3E3E3E;
  border-radius: 0.5rem;
  width: 11rem;
}

.userbar-profile-menu li {
  list-style: none;
  padding: 1rem;
  cursor: pointer;
}

.userbar-profile-menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* ^ Content ----------------------------- */

.user-home-content {
  box-sizing: border-box;
  max-width: 100%;
  height: 100vh;
  margin-top: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  overflow-y: auto;
}







/* ^ Content ----------------------------- */