.no-results {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.no-results h3 {
  opacity: 80%;
}

.result-label {
  font-size: 0.8rem;
  opacity: 60%;
}

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 6rem;
}


.result-row {
  display: flex;
  /* gap: 1rem; */
  /* justify-content: flex-start; */
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  color: white;
  /* width: 90%; */
  padding: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

/* .result-row-back {
  display: flex;
  gap: 1rem;
  justify-content:left;
  cursor: pointer;
} */
.result-row-back {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  color: white;
  padding: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
}

.result-row:hover {
  background-color: #2a2a2a;
}

.result-row-back:hover {
  background-color: #2a2a2a;
}

.result-detail {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.result-detail a {
  color: white
}


.result-artist-img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.result-song-img {
  width: 36px;
  height: 36px;
  border-radius: 2px;
}

.result-album-img {
  width: 36px;
  height: 36px;
  border-radius: 2px;
}


.result-album a {
  color: white;
  cursor: pointer;
  opacity: 70%;
  font-size: 0.8rem;
}

.result-album a:hover {
  opacity: 100%;
  text-decoration: underline;
}

.result-album p:hover {
  opacity: 100%;
  text-decoration: underline;
}
.result-link {
  justify-self: unset;
}

.result-link img {
  align-self: flex-end;
}

.result-link button {
  color: white;
  font-family: 'CircularSpotifyBook';
  opacity: 70%;
  border-color: white;
  border-width: 1px;
  width: 3.75rem;
  height: 1.875rem;
  border-radius: 30px;
  box-shadow: none;
  /* border-style: inherit; */
}

.result-link button:hover {
  opacity: 90%;
  border-width: 2px;
}

button {
  box-shadow: none;
}

.result-detail-expanded {
  width: 100%;
  display: flex;
  justify-content: ;
  align-items: center;
}

.result-detail-expanded p {
  font-size: 1.1rem;
  font-family: 'CircularSpotifyBold';
  opacity: 70%;
}

