/* ! Main Container --------------- */
.user-home-container {
  background-color: #000000;
  background-size: cover;
  width: 100vw;
  height: 100%;
  display: flex;
}

/* ! ------------------------------ */

/* * SIDEBAR ---------------------- */
.user-home-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
  overflow-y: auto;
  max-width: 20rem;
}

.sidebar-mini-home {
  background-color: #121212;
  color: #B3B3B3;
  height: 7rem;
  width: 20rem;
  border-radius: 0.5rem;
}

.sidebar-library {
  background-color: #121212;
  color: white;
  height: 100vh;
  /* width: 20rem; */
  overflow-y: auto;
  flex-grow: 1;
}

.mini-home-icon {
  /* width: 10.5rem; */
  /* height: 10.5rem; */
  /* margin-top: 10rem; */
  background-image: url('data:image/svg+xml,<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" data-encore-id="icon" role="img" aria-hidden="true" class="Svg-sc-ytk21e-0 iYxpxA home-active-icon" viewBox="0 0 24 24" width="24" height="24" ><path d="M13.5 1.515a3 3 0 0 0-3 0L3 5.845a2 2 0 0 0-1 1.732V21a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V7.577a2 2 0 0 0-1-1.732l-7.5-4.33z" fill="%23FFFFFF"></path></svg>');
  /* margin-bottom: 0.725rem; */
  background-repeat: no-repeat;
  /* background-size: contain; */
}

/* * SIDEBAR ---------------------- */

/* ~ Userbar ---------------------- */
.user-home-mainbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.user-home-userbar {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 1rem;
}

.userbar-profile-menu-container {
  align-self: flex-start;
}