.no-results {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.no-results h3 {
  opacity: 80%;
}

.result-label {
  font-size: 0.8rem;
  opacity: 60%;
}

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}


.result-row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: white;
}

.result-detail {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.result-detail img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

