.playlist-create .search-footer hr {
  opacity: 10%;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.new-playlist-body {
  margin: 0;
  padding: 0;
}

.playlist-create .new-playlist-body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.new-playlist-body .playlist-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.new-playlist-body .playlist-header p {
  color: white;
  opacity: 60%;
  font-family: 'CircularSpotifyBook';
  font-size: 0.8rem;
}

.new-playlist-body hr {
  opacity: 10%;
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 22rem;
}

.search-input-container .search-icon {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  left: 8px;
  bottom: 10px;
}

.search-input-container .close-icon {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  right: 8px;
  bottom: 10px;
}

.search-input-container input {
  margin-top: 1rem;
  width: 22rem;
  height: 2.25rem;
  background-color: #323232;
  border-style: none;
  border-radius: 0.3rem;
  padding-inline-start: 1rem;
  padding-left: 2rem;
}

.search-input-container input::placeholder {
  color: white;
  opacity: 90%;
  font-size: 0.8rem;
}

.playlist-name-container input {
  font-size: 3rem;
  background-color: transparent;
  border-style: none;
  height: 6rem;
}

.playlist-name-container input:focus {
  outline: none;
}

.playlist-name-container input::placeholder {
  color: white;
  font-size: 3rem;
  font-family: 'CircularSpotifyBold';
}