/* * Page Background */
.login-form-page-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.25rem;
  background: linear-gradient(#1C1C1C, #000000);
  width: 100vw;
  height: 100vh;
}



.form-bg {
  background-color: #000000;
  border-radius: 0.5rem;
  width: 45rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.captcha {
  color: #A7A7A7;
  font-size: 0.6875rem;
  font-family: 'CircularSpotifyBook';
  padding-top: 2.25rem;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
}

.login-link-hover {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login-link-hover a {
  color: white;
  font-style: underline;
}

.login-link-hover a:hover {
  color: #1db954
}


.new-user-container {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;

}

@media (max-width: 600px) { /* Adjust 600px to the breakpoint you need */
  .new-user-container {
    flex-direction: column; /* Stack elements vertically on small screens */
  }
}

.login-page-error-container {
  background-color: #E91429;
  width: 45rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 3.125rem;
}

.login-page-error-icon {
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url('data:image/svg+xml,<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" role="img" height="24" width="24" aria-hidden="false" aria-label="Error:" class="Svg-sc-ytk21e-0 uPxdw Icon-sc-1mveit9-0 fOutFo" viewBox="0 0 24 24" data-encore-id="icon"><title>Error:</title><path d="M11 18v-2h2v2h-2zm0-4V6h2v8h-2z" fill="%23FFFFFF"></path><path d="M12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18zM1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12z" fill="%23FFFFFF"></path></svg>');
}

.login-page-error-text {
  font-size: 0.825rem;
  padding: 0.825rem;
}


