/* body {
  background-color: pink;
}

.main-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  max-width: 22rem;
}

.form-container h1 {
  color: white;
  line-height: 3rem;
}
 */
