.sidebar-mini-home button {
display: flex;
  align-items: center;
  gap: 1rem
}

.sidebar-mini-home p {
  color: #cccccc;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar-mini-home p:hover {
  color: #ffffff;
}

.sidebar-mini-home button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.active-link p {
  text-decoration: none;
  color: white;
}

.library-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.library {
  display: flex;
  width: 60%;
  gap: 1rem;
}

.library-plus {
  width: 30%;
  padding-top: 0.25rem;
  justify-self: flex-end;
}