.sidebar-mini-home button {
  display: flex;
  align-items: center;
  gap: 1rem
}

.sidebar-mini-home p {
  color: #cccccc;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar-mini-home p:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.active-link p {
  text-decoration: none;
  color: white;
}
