/* TODO Add site wide styles */
/* @import '../node_modules/reset-css/reset.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CircularSpotifyBold';
  src: url('./__static/fonts/CircularSpotifyText-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularSpotifyBook';
  src: url('./__static/fonts/CircularSpotifyText-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, label, input, span {
  font-family: 'CircularSpotifyBold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

p {
  font-family: 'CircularSpotifyBook', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
  color: white;
}

label {
  font-size: 1rem;
  color:white;
}

body {
  font-size: 1rem;
  color: white;
}

input::placeholder {
  color: gray;
  font-family: 'CircularSpotifyBook', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.helper-text {
  color: grey;
  font-size: 0.875rem;
}

/* * Form Container */
.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  width: 22rem;
  height: 50px;
  border-radius: 0.35rem;
  margin-top: 0.55rem;
  margin-bottom: 0rem;
  background-color: #121212;
  border-color: #727272;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 1rem;
  font-family: 'CircularSpotifyBook', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding-inline: 0.875rem;
}

.form-container button {
  font-family: 'CircularSpotifyBold';
  font-size: 1rem;
  background-color: #1DB954;
  max-width: 22rem;
  width: 22rem;
  border-radius: 30px;
  margin-top: 3rem;
  border-style: none;
  height: 50px;
}



hr {
  margin-top: 3rem;
}